<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>EQUIPOS</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="EQUIPOS.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 6.20.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">

  <style>
    .border {
      border: 2px white solid;
    }

    .disabled {
      opacity: 0.5;
      background-color: #e0e0e0;
      pointer-events: none;
      border: 1px #00000082 solid;
    }
  </style>

  <script type="application/ld+json"> {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/LOGOFUNDACION.png",
    "sameAs": [
      "https://www.facebook.com/profile.php?id=100009030838328",
      "https://instagram.com/fundacion_jp?igshid=YmMyMTA2M2Y="
    ]
  }</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="EQUIPOS">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
<header class="u-align-center-sm u-align-center-xs u-clearfix u-header u-header" id="sec-17d8"><a href="#"
                                                                                                  class="u-image u-logo u-image-1"
                                                                                                  data-image-width="2457"
                                                                                                  data-image-height="2457">
  <img src="images/LOGOFUNDACION.png" class="u-logo-image u-logo-image-1">
</a>
  <div class="u-social-icons u-spacing-10 u-social-icons-1">
    <a class="u-social-url" title="facebook" target="_blank"
       href="https://www.facebook.com/profile.php?id=100009030838328"><span
      class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                   preserveAspectRatio="xMidYMin slice"
                                                                   viewBox="0 0 112 112" style=""><use
      xlink:href="#svg-76c5"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-76c5"><circle
      fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
      c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
    </a>
    <a class="u-social-url" title="instagram" target="_blank"
       href="https://instagram.com/fundacion_jp?igshid=YmMyMTA2M2Y="><span
      class="u-icon u-social-icon u-social-instagram u-icon-2"><svg class="u-svg-link"
                                                                    preserveAspectRatio="xMidYMin slice"
                                                                    viewBox="0 0 112 112" style=""><use
      xlink:href="#svg-e8bc"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-e8bc"><circle
      fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
      z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
      fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
      fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
      C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
      c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
    </a>
  </div>
  <nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1">
    <div class="menu-collapse"
         style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
      <a
        class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link"
        href="#" style="padding: 0px; font-size: calc(1em + 0.5px);">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f"
             x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve"
             class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302"
                                                                                        height="30"></rect><rect y="136"
                                                                                                                 width="302"
                                                                                                                 height="30"></rect>
</g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g></svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
        <li class="u-nav-item"><a href="/"
          class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
          style="padding: 9px 8px;">INICIO</a>
        </li>
        <li class="u-nav-item"><a
          class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
          href="/rules" target="_blank" style="padding: 9px 8px;">REGLAS DESAFIO</a>
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div
        class="u-align-center u-black u-container-align-center u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
            <li class="u-nav-item"><a class="u-button-style u-nav-link">INICIO</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/rules" target="_blank">REGLAS
              DEAFIO</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
</header>
<section class="u-clearfix u-section-1" id="sec-e638">

  <img class="custom-expanded u-image u-image-default u-image-1" src="images/PANTALLA2.png" alt=""
       data-image-width="2600" data-image-height="1462">
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-1">
    <div class="u-gallery-inner u-gallery-inner-1">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-tiger"
           onclick="changeImg(this, 'tiger', 'TIGRES')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/tiger.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-1"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-lion" onclick="changeImg(this, 'lion', 'LEONES')"
           data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/lion.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-2"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-eagle"
           onclick="changeImg(this, 'eagle', 'AGUILAS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/eagle.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-3"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-wolf" onclick="changeImg(this, 'wolf', 'LOBOS')"
           data-image-width="2457" data-image-height="2457" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/wolf.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-4"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-falcons"
           onclick="changeImg(this, 'falcons', 'HALCONES')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide" data-image-width="2457" data-image-height="2457">
          <img class="u-back-image u-expanded u-image-contain" src="images/falcons.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-5"></div>
      </div>
    </div>
  </div>
  <div class="u-list u-list-1">
    <div class="u-repeater u-repeater-1">
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-1">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-1">
            TIGRES</p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-2">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-2">
            LEONES</p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-3">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-3">
            AGUILAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-4">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-4">
            <span style="font-size: 0.4375rem;">&nbsp; &nbsp; </span>LOBOS
          </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-5">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-5">
            HALCONES </p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-2">
    <div class="u-gallery-inner u-gallery-inner-2">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-buffaloes"
           onclick="changeImg(this, 'buffaloes', 'BUFALOS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/buffaloes.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-6"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-owls" onclick="changeImg(this, 'owls', 'BUHOS')"
           data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/owls.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-7"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-tarantulas"
           onclick="changeImg(this, 'tarantulas', 'TARANTULA')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/tarantulas.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-8"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-mammoths"
           onclick="changeImg(this, 'mammoths', 'MAMUTS')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/mammoths.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-9"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-bears" onclick="changeImg(this, 'bears', 'OSOS')"
           data-image-width="2457" data-image-height="2457" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/bears.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-10"></div>
      </div>
    </div>
  </div>
  <div class="u-list u-list-2">
    <div class="u-repeater u-repeater-2">
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-6">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-6">
            &nbsp; &nbsp; &nbsp; BUFALOS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-7">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-7">
            &nbsp; &nbsp; &nbsp; BUHOS</p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-8">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-8">
            TARANTULAS​&nbsp;</p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-9">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-9">
            &nbsp; &nbsp; MAMUTS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-10">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-10">
            &nbsp; &nbsp; &nbsp; &nbsp; OSOS </p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-3">
    <div class="u-gallery-inner u-gallery-inner-3">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-scorpions"
           onclick="changeImg(this, 'scorpions', 'ESCORPIONES')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/scorpions.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-11"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-pumas" onclick="changeImg(this, 'pumas', 'PUMAS')"
           data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/pumas.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-12"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-panthers"
           onclick="changeImg(this, 'panthers', 'PANTERAS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/panthers.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-13"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-elephants"
           onclick="changeImg(this, 'elephants', 'ELEFANTES')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/elephants.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-14"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-sharks"
           onclick="changeImg(this, 'sharks', 'TIBURONES')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/sharks.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-15"></div>
      </div>
    </div>
  </div>
  <div class="u-list u-list-3">
    <div class="u-repeater u-repeater-3">
      <div class="u-container-style u-list-item u-repeater-item">
        <div
          class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-11">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-11">
            ESCORPIONES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div
          class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-12">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-12">
            &nbsp; &nbsp; &nbsp;PUMAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div
          class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-13">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-13">
            &nbsp;PANTERAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div
          class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-14">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-14">
            &nbsp; ELEFANTES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div
          class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-15">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-15">
            &nbsp;TIBURONES </p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-4">
    <div class="u-gallery-inner u-gallery-inner-4">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-jellyfish"
           onclick="changeImg(this, 'jellyfish', 'MEDUSAS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/jellyfish.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-16"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-octopuses"
           onclick="changeImg(this, 'octopuses', 'PULPOS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/octopuses.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-17"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-dragons"
           onclick="changeImg(this, 'dragons', 'DRAGONES')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/dragons.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-18"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-tuqueque"
           onclick="changeImg(this, 'tuqueque', 'TUQUEQUES')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/tuqueque.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-19"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-reindeer"
           onclick="changeImg(this, 'reindeer', 'RENOS')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/reindeer.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-20"></div>
      </div>
    </div>
  </div>
  <div class="u-list u-list-4">
    <div class="u-repeater u-repeater-4">
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-container-layout-16">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-16">
            MEDUSAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-container-layout-17">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-17">
            &nbsp; PULPOS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-container-layout-18">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-18">
            DRAGONES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-container-layout-19">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-19">
            TUQUEQUES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top-lg u-container-layout-20">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-20">
            &nbsp;RENOS </p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-5">
    <div class="u-gallery-inner u-gallery-inner-5">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-rhinos"
           onclick="changeImg(this, 'rhinos', 'RINOCERONTES')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/rhinos.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-21"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-crocodiles"
           onclick="changeImg(this, 'crocodiles', 'COCODRILOS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/crocodiles.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-22"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-ant" onclick="changeImg(this, 'ant', 'HORMIGAS')"
           data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/ant.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-23"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-dog" onclick="changeImg(this, 'dog', 'PERROS')"
           data-image-width="2457" data-image-height="2457" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/dog.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-24"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-dolphins"
           onclick="changeImg(this, 'dolphins', 'DELFINES')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/dolphins.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-25"></div>
      </div>
    </div>
  </div>
  <button onclick="submitForm()"
          class="u-border-0 u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-3-light-1 u-palette-3-base u-radius u-btn-1">
    SIGUIENTE
  </button>
  <div class="u-list u-list-5">
    <div class="u-repeater u-repeater-5">
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-21">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-21">
            RINOCERONTES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-22">
          <p
            class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-22">
            &nbsp; &nbsp; COCODRILOS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-23">
          <p
            class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-23">
            &nbsp; &nbsp;HORMIGAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-24">
          <p
            class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-24">
            &nbsp; PERROS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-25">
          <p
            class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-variant u-text-25">
            DELFINES </p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-gallery u-layout-grid u-no-transition u-show-text-none u-gallery-6">
    <div class="u-gallery-inner u-gallery-inner-6">
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-squid"
           onclick="changeImg(this, 'squid', 'CALAMARES')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/squid.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-26"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-gorillas"
           onclick="changeImg(this, 'gorillas', 'GORILAS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/gorillas.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-27"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-mantis"
           onclick="changeImg(this, 'mantis', 'MANTIS')" data-animation-name="" data-animation-duration="0"
           data-animation-delay="0" data-animation-direction="" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/mantis.png" data-image-width="2457"
               data-image-height="2457">
        </div>
        <div class="u-over-slide u-shading u-over-slide-28"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-cobras"
           onclick="changeImg(this, 'cobras', 'COBRAS')" data-image-width="2457" data-image-height="2457" data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/cobras.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-29"></div>
      </div>
      <div class="u-gallery-item u-shape-rectangle img-item" id="item-porcupine"
           onclick="changeImg(this, 'porcupine', 'PUERCOESPIN')" data-image-width="2457" data-image-height="2457"
           data-href="#">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded u-image-contain" src="images/porcupine.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-30"></div>
      </div>
    </div>
  </div>
  <div class="u-list u-list-6">
    <div class="u-repeater u-repeater-6">
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-26">
          <p
            class="u-custom-font u-custom-item u-font-lato u-small-text u-text u-text-body-alt-color u-text-variant u-text-26">
            &nbsp; &nbsp; &nbsp; &nbsp; CALAMARES </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-27">
          <p class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-27">
            &nbsp; &nbsp; &nbsp; GORILAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-28">
          <p class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-28">
            &nbsp; &nbsp; &nbsp;MANTIS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-29">
          <p class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-29">
            &nbsp; &nbsp; COBRAS </p>
        </div>
      </div>
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-30">
          <p class="u-custom-item u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-30">
            PUERCOESPIN </p>
        </div>
      </div>
    </div>
  </div>
</section>

<form action="/teams-form" id="formSelectImg" method="GET">
  <input type="hidden" name="imgName" id="imgNameInput">
  <input type="hidden" name="teamName" id="teamNameInput">
</form>

<footer
  class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-xl u-footer u-grey-80 u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-footer"
  id="sec-32b2"><p class="u-align-center-xs u-text u-text-1"> La Fundación Juventud Plena, JP, es una institución sin
  fines de lucro, creada, registrada y protocolizada jurídicamente, dedicada a brindar atención gratuita a los niños,
  niñas, adolescentes y jóvenes, destacando nuestra labor humanista, contribuyendo de esta manera a rescatar y
  consolidar los valores sociales y principios morales en el hogar.</p>
  <p class="u-small-text u-text u-text-variant u-text-2"> Fundación Juventud Plena<br>¡Ampliando el Potencial Humano!
  </p></footer>
<section class="u-backlink u-clearfix u-grey-80">
  <p class="u-text">
    <span>This site was created with the </span>
    <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
      <span>Nicepage</span>
    </a>
  </p>
</section>

<script>
  let imgNameInput = document.getElementById("imgNameInput");
  let teamNameInput = document.getElementById("teamNameInput");

  let animals = JSON.parse('{{{json animals}}}');

  for (const index in animals) {
    const animal = animals[index];
    const documentAnimal = document.getElementById(`item-${animal.img}`)
    documentAnimal.classList.add("disabled");
  }

  imgNameInput.value = "";
  teamNameInput.value = "";

  function changeImg(item, imgName, teamName) {
    let elements = document.querySelectorAll(".img-item");
    elements.forEach(function(element) {
      element.classList.remove("border");
    });

    item.classList.add("border");
    imgNameInput.value = imgName;
    teamNameInput.value = teamName;
  }

  function submitForm() {

    let form = document.getElementById("formSelectImg");
    if (imgNameInput.value === "" || teamNameInput.value === "") {
      alert("debes seleccionar una figura");
      return;
    }

    form.submit();
  }
</script>

</body>
</html>